<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.like4u.server.infrastructrue.dao.IGroupsDao">

    <select id="queryGroupsById" resultType="com.like4u.server.infrastructrue.po.Groups">
        SELECT groupId, groupName, groupHead FROM `group` where groupId = #{groupId}
    </select>

    <select id="queryGroupsByUserId" resultMap="queryGroupsByUser">
        SELECT u.userId, u.userNickName,g.groupId,g.groupName,g.groupHead
        FROM user as u
        LEFT JOIN user_group as ug ON u.userId=ug.userId
        LEFT JOIN `group` as g ON ug.groupId=g.groupId
        WHERE u.userId=#{userId}
    </select>


    <resultMap id="queryGroupsByUser" type="com.like4u.server.infrastructrue.dto.UserGroupDto">
       <collection property="groups" ofType="com.like4u.server.infrastructrue.po.Groups">
           <result column="groupId" property="groupId"/>
       </collection>
    </resultMap>

    <select id="queryGroupsMemberById" resultType="com.like4u.server.domain.user.model.UserFriendInfo">
        SELECT u.userId AS friendId, u.userNickName AS friendName, u.userHead AS friendHead
        FROM `user` u
        LEFT JOIN user_group ug ON u.userId = ug.userId
        WHERE ug.groupId = #{groupId}
    </select>
</mapper>