<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.like4u.server.infrastructure.dao.IUserDao">

    <select id="queryUserPassword" resultType="java.lang.String">
        SELECT userPassword FROM user where userId = #{userId};
    </select>

    <select id="queryUserById" resultType="com.like4u.server.infrastructure.po.User">
        select userId, userNickName, userHead from user where userId = #{userId}
    </select>

    <select id="queryFuzzyUserList" resultType="com.like4u.server.infrastructure.po.User">
        select userId, userNickName, userHead
        from user where userId != #{userId} and (userId like "%"#{searchKey}"%" or userNickName like "%"#{searchKey}"%")
        order by id desc
        limit 10
    </select>


</mapper>